<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".work20201117.Q_4_4">
            <intent-filter>
                <action android:name="activity_4_4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201117.Q_4_3">
            <intent-filter>
                <action android:name="activity_4_3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201117.Q_4_2">
            <intent-filter>
                <action android:name="activity_4_2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name=".work20201117.Q_4_1_Service">
            <intent-filter>
                <action android:name="Q_4_1_Service" />
            </intent-filter>
        </service>
        <activity android:name=".work20201117.Q_4_1">
            <intent-filter>
                <action android:name="activity_4_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201106.Q_3_2_1">
            <intent-filter>
                <action android:name="activity_3_2_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201106.Q_3_2">
            <intent-filter>
                <action android:name="activity_3_2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201106.Q_3_1_1">
            <intent-filter>
                <action android:name="activity_3_1_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201106.Q_3_1">
            <intent-filter>
                <action android:name="activity_3_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201106.Q_3_0">
            <intent-filter>
                <action android:name="activity_3_0" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201017.Q_2_5">
            <intent-filter>
                <action android:name="activity_2_5" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201017.Q_2_4">
            <intent-filter>
                <action android:name="activity_2_4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201017.Q_2_3">
            <intent-filter>
                <action android:name="activity_2_3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201017.Q_2_2">
            <intent-filter>
                <action android:name="activity_2_2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201017.Q_2_1">
            <intent-filter>
                <action android:name="activity_2_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- //////////////////////////////////////////////////// -->
        <activity android:name=".work20201009.Q_1_4">
            <intent-filter>
                <action android:name="activity_1_4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201009.Q_1_3">
            <intent-filter>
                <action android:name="activity_1_3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- .MainActivity2为目标页面的Java文件名称，前面有加点 -->
        <activity android:name=".work20201009.Q_1_2">
            <intent-filter>

                <!-- 此处的activity2为前面声明的名字 -->
                <action android:name="activity_1_2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".work20201009.Q_1_1">
            <intent-filter>
                <action android:name="activity_1_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- //////////////////////////////////////////////////// -->
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>